QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_COLLECTION=radio_images

ES_URL=http://localhost:9200
ES_USER=elastic
ES_PASSWORD=
ES_INDEX=

CLIP_MODEL_NAME=openai/clip-vit-base-patch32
CLIP_DEVICE=auto

AWS_REGION=eu-....
BEDROCK_MODEL_ID=amazon.nova-lite-v1:0

TOP_K=10
PAGE_WINDOW=1
MAX_CHARS_PER_PAGE=900

ALLOWED_IMAGE_PREFIX=/home/ec2-user
PDF_ROOT_DIR=/home/ec2-user/rag-project
