.env
*.env
.env.*
!.env.example

__pycache__/
*.py[cod]
.venv/
venv/
env/

.ipynb_checkpoints/

*.log
logs/

static/uploads/
uploads/

data/
datasets/
qdrant_storage/
elasticsearch_data/

.DS_Store
.vscode/
.idea/
